body {
    background: black;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'optician';
    text-align: center;
    cursor: default;
}

@font-face {
  font-family: 'optician';
  src: url(/Optician-Sans.ttf);
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0.6em;
    margin-bottom: 0.3em;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    margin-block-end: 0;
    margin-block-start: 0;
}

button {
    border: none;
    font-family: 'optician';
    font-size: 12px;
    cursor: grab;
    padding: 0em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    background-color: black;
    color: white;
    text-decoration: underline;
}

button:active {
    transform: scale(1.1);
}


button:focus {
    outline: none;  
}

#logo {
    width: 90px;
}

#title {
    margin-top: 9px;
    text-align: left;
}

#im {
    width: 180px;
    margin-bottom: 0.3em;
}

#less {
    display: none;
    margin-bottom: 1.5em;
}

#more {
    margin-bottom: 1.5em;
}

#details {
    display: none;
}

#matrix {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.buy {
    background-color: white;
    color: black;
    font-size: 24px;
    margin-top: 0.9em;
    padding: 0.3em;
    text-decoration: none;
}

.buy:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}

.nft {
    background-color: white;
    color: black;
    font-size: 18px;
    margin-top: 0.9em;
    padding: 0.3em;
    text-decoration: none;
}

.nft:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
}
#header {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 66px;
}

#content {
    margin-top: 100px;
    margin-bottom: 60px;
    margin-right: 0em;
    margin-left: 0em;
    font-size: 15px;
    color: white;
}

#footer {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 15px;
    color: white;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
