body {
    background: black;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'optician';
    text-align: center;
    cursor: default;
    color: black;
    overflow: hidden;
}

@font-face {
  font-family: 'optician';
  src: url(/Optician-Sans.ttf);
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    padding: 0.3em;

}

a:hover {
    color: black;
    background-color: white;
}

button {
    border: none;
    font-family: 'optician';
    font-size: calc(6px + 2vmin);
    cursor: grab;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

button:active {
    transform: scale(1.1);
}


button:focus {
    outline: none;  
}

#logo {
    width: 12px;
}

#title {
    margin-top: 66px;
    font-size: calc(33px + 2vmin);
    margin-bottom: 0.6em;
    text-align: left;
}

#menu {
    margin-bottom: 0.6em;
}

#b1 {
    background-color: rgb(235, 51, 40);
}

#b2 {
    background-color: rgb(236, 93, 42);
}

#b3 {
    background-color: rgb(244, 210, 78);
}

#b4 {
    background-color: rgb(66, 140, 71);
}

#b5 {
    background-color: rgb(60, 89, 155);
}

#b6 {
    background-color: rgb(124, 27, 126);
}

#header {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 66px;
}

#content {
    margin-top: 333px;
    margin-bottom: 333px;
    margin-right: 6em;
    margin-left: 6em;
    font-size: 15px;
}

#email {
    font-size: 15px;
    font-weight: 900;
}
#footer {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 6px;
    color: white;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}
