body {
    background: black;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'optician';
    text-align: center;
    cursor: default;
    color: black;
    overflow: hidden;
}

@font-face {
  font-family: 'optician';
  src: url(/Optician-Sans.ttf);
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding: 0em;
}

a:hover {
    color: black;
    background-color: white;
}

button {
    border: none;
    font-family: 'optician';
    font-size: calc(6px + 2vmin);
    cursor: grab;
    padding: 0em;
    margin-left: 0.6em;
    margin-right: 0.6em;
}

button:active {
    transform: scale(1.1);
}


button:focus {
    outline: none;  
}

#logo {
    width: 66px;
}

#title {
    margin-top: 9px;
    font-size: calc(33px + 2vmin);
    margin-bottom: 0.6em;
    text-align: left;
}

#n1 {
    width: 300px;
}

#buy {
    background-color: white;
    color: black;
    font-size: 33px;
}

#header {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 66px;
}

#content {
    margin-top: 333px;
    margin-bottom: 333px;
    margin-right: 6em;
    margin-left: 6em;
    font-size: 15px;
}

#footer {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: white;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    margin-bottom: 0.3em;
}
